<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/resources/assets/pix/favico.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="/resources/css/ganaste.css" rel="stylesheet" >

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Ganaste antropolys</title>
</head>
<body id="body_ganaste">

    <div class="container" >
        <img id="img_ganaste" src="/resources/assets/imagenes_nuevas/PNG/ganaste_letrero.png">
        <div class="row">
            <div class="container" id="content_ganaste">
                <div class="row" id="content_ganaste1">
                    <img id="img_fondoEstrella_uno" src="../assets/imagenes_nuevas/PNG/estrella-fondo.png">
                    <img id="img_fondoEstrella_dos" src="../assets/imagenes_nuevas/PNG/estrella-fondo.png">
                    <img id="img_fondoEstrella_tres" src="../assets/imagenes_nuevas/PNG/estrella-fondo.png">
                    <img id="img_estrella_uno" src="../assets/imagenes_nuevas/PNG/estrella.png">
                    <img id="img_estrella_dos" src="../assets/imagenes_nuevas/PNG/estrella.png">
                    <img id="img_estrella_tres" src="../assets/imagenes_nuevas/PNG/estrella.png">
                </div>
                <div class="row" id="content_ganaste2">
                    <label for="etiqueta">Puntaje Total</label>
                    <br>
                    <label id="puntos" for="puntos">. . . . . . . . . . . . . . . . . . . . . . .</label>
                    <br>
                    <label id="puntaje" for="puntaje">12 584</label>
                    <br>
                    <img id="img_reloj" src="../assets/imagenes_nuevas/PNG/reloj.png">
                    <label for="tiempo">Tiempo</label>
                </div>
                <div class="row" id="content_ganaste3">
                    <button class="btn" id="btn_menu" type="submit"></button>
                    <button class="btn" id="btn_recarga" type="submit"></button>
                    <button class="btn" id="btn_flecha_ste" type="submit"></button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>