@font-face {
  font-family: "Tondu_Beta";
  font-style: normal;
  font-weight: normal;
  src: url(../assets/font/Tondu_Beta.ttf);
}

@font-face {
  font-family: "Lalezar-Regular";
  font-style: normal;
  font-weight: normal;
  src: url(../assets/font/Lalezar-Regular.ttf);
}

.bodyIndex {
  background-color: black;
  background-image: url(../assets/imagenes_nuevas/PNG/fondo2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 88vh;
}

.container {
  width: 400px;
  height: 370px;
  margin-top: 4%;
}

.formContainer {
  background-image: url(../assets/imagenes_nuevas/PNG/tablero_solo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 2;
  margin-top: -40px;
  position: relative;
}

.imgLogin {
  width: 55%;
  margin-left: 95px;
  z-index: 1;
  position: relative;
}

.form-signin,
.form-registro {
  max-width: 280px;
  padding: 20px;
  margin: 20px auto;
}

.form-signin .form-control,
.form-registro .form-control {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  background-color: #EAEBE5;
  color: #7e8c8d;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.form-control {
  height: 25px;
  font-family: "Lalezar-Regular";
}

.form-signin input[type="text"],
.form-registro input[type="text"],
.form-signin input[type="password"],
.form-registro input[type="password"],
.form-registro input[type="date"] {
  margin-bottom: -1px;
  border-radius: 10px;
}


.form-control.user,
.form-control.celular {
  margin-left: 10px;
  padding-left: 36px;
}

.form-group {
  margin-right: 10px;
}

.form-signin label,
.form-registro label {
  color: #8e3cbc;
  font-family: "Lalezar-Regular";
  font-size: 20px;
  margin-bottom: 2px;
}

.form-signin .imgIcon1 {
  width: 50px;
  height: 50px;
  position: absolute;
  margin-left: -116px;
  margin-top: -38px;
}

.form-signin .imgIcon2 {
  width: 50px;
  height: 50px;
  position: absolute;
  margin-left: -116px;
  margin-top: -38px;
}

.linkOlvidoClave {
  color: #8e3cbc;
  cursor: pointer;
}

.btn.btnEntrar {
  background-image: url(../assets/imagenes_nuevas/PNG/btn-entrar.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: unset;
  background-size: 70%;
  position: absolute;
  width: 35vh;
  height: 7vh;
  margin-top: 5px;
}

.btn.btnRegistro {
  background-image: url(../assets/imagenes_nuevas/PNG/btn-registro.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: unset;
  background-size: 70%;
  position: absolute;
  width: 35vh;
  height: 7vh;
  margin-top: 60px;
}

.btn.btnEntrar1,
.btn.btnRegistro1 {
  display: none;
}

.imgLogo {
  background-image: url(../assets/imagenes_nuevas/PNG/Logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: unset;
  background-size: 160%;
  margin-left: 25px;
  margin-top: -30px;
  width: 50vh;
  height: 50vh;
  z-index: -1;
}

.container .modal.fade.collapse.in , 
.container .modal.fade.collapse {
  background-image: url(../assets/imagenes_nuevas/PNG/hoja_PopUp.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: unset;
  background-size: 135%;
  width: 36%;
  height: 38%;
  margin-top: 13%;
  margin-left: 32%;
  font-family: "Lalezar-Regular";
  -webkit-box-shadow: 0px 0px 243px 39px rgb(0 0 0 / 75%);
  -moz-box-shadow: 0px 0px 243px 39px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 243px 39px rgb(0 0 0 / 75%);
}

.container .modal.fade.collapse.in .head_modal .textAviso, 
.container .modal.fade.collapse .head_modal .textAviso {
  color: saddlebrown;
  position: relative;
  top: 75px;
  left: 110px;
  text-align: center;
  width: 60%;
  padding: 0;
  font-size: 35px;
}

.container .modal.fade.collapse.in .body_modal .btnsModal, 
.container .modal.fade.collapse .body_modal .btnsModal {
  margin-top: 15%;
  margin-left: -10%;
}

.container .modal.fade.collapse.in .body_modal .btnsModal .btn1, 
.container .modal.fade.collapse .body_modal .btnsModal .btn1 {
  margin-right: 5%;
}

.btn.btnNo {
  background-image: url(../assets/imagenes_nuevas/PNG/btn_no.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: unset;
  background-size: 40%;
  position: absolute;
  width: 50vh;
  height: 13vh;
}

.btn.btnSi {
  background-image: url(../assets/imagenes_nuevas/PNG/btn_si.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: unset;
  background-size: 40%;
  position: absolute;
  width: 50vh;
  height: 13vh;
}

@media screen and (max-width: 480px) and (max-height: 900px) {

  html,
  body {
    overflow: hidden;
  }

  body {
    background-image: url(../assets/imagenes_nuevas/PNG/fondo1.png);
    min-height: 86vh;
  }

  .container {
    width: 320px;
    height: 380px;
    margin-top: 6%;
  }

  .imgLogin {
    margin-left: 80px;
  }

  .form-signin,
  .form-registro {
    max-width: 280px;
    padding: 20px;
    margin: 40px auto;
  }

  .form-group {
    margin-right: 20px;
    margin-left: 10px;
  }

  .form-signin .imgIcon1 {
    width: 45px;
    height: 45px;
    margin-left: -103px;
  }

  .form-signin .imgIcon2 {
    width: 45px;
    height: 45px;
    margin-left: -103px;
  }

  .imgLogo {
    background-size: 125%;
    width: 410px;
    height: 170px;
    margin-left: -44px;
    margin-top: -52px;
  }

  .formContainer {
    margin-top: -58px;
  }

  .btn.btnEntrar,
  .btn.btnRegistro {
    display: none;
  }

  .btn.btnEntrar1 {
    display: block;
    background-image: url(../assets/imagenes_nuevas/PNG/btn-entrar1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: unset;
    background-size: 62%;
    position: relative;
    width: 40vh;
    height: 9vh;
  }

  .btn.btnRegistro1 {
    display: block;
    background-image: url(../assets/imagenes_nuevas/PNG/btn-registro1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: unset;
    background-size: 62%;
    position: relative;
    width: 40vh;
    height: 9vh;
  }

  .container .contentBotones {
    margin-left: -25px;
  }

  .container .modal.fade.collapse.in , 
  .container .modal.fade.collapse {
    background-size: 125%;
    width: 90%;
    height: 22%;
    margin-top: 40%;
    margin-left: 5%;
  }

  .container .modal.fade.collapse.in .head_modal .textAviso, 
  .container .modal.fade.collapse .head_modal .textAviso {
    top: 45px;
    left: 80px;
    font-size: 25px;
  }

  .container .modal.fade.collapse.in .body_modal .btnsModal, 
  .container .modal.fade.collapse .body_modal .btnsModal {
    margin-top: 5%;
  }

  .container .modal.fade.collapse.in .body_modal .btnsModal .btn1, 
  .container .modal.fade.collapse .body_modal .btnsModal .btn1 {
    margin-right: 10px;
  }

  .btn.btnNo {
    background-size: 45%;
    position: absolute;
    width: 30vh;
    height: 13vh;
  }

  .btn.btnSi {
    background-size: 45%;
    position: absolute;
    width: 30vh;
    height: 13vh;
  }

}


