@font-face {
  font-family: "Tondu_Beta";
  font-style: normal;
  font-weight: normal;
  src: url(../assets/font/Tondu_Beta.ttf);
}

@font-face {
  font-family: "Lalezar-Regular";
  font-style: normal;
  font-weight: normal;
  src: url(../assets/font/Lalezar-Regular.ttf);
}

.bodyIndex {
  background-color: black;
  background-image: url(../assets/imagenes_nuevas/PNG/fondo2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 88vh;
  overflow-y: hidden;
}

.container {
  width: 400px;
  height: 370px;
  margin-top: 4%;
}

.formContainer,
.container .content_creditosInfo {
  background-image: url(../assets/imagenes_nuevas/PNG/tablero_solo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 2;
  margin-top: -40px;
  position: relative;
}

.imgLogin,
.container .creditos.modal .imgCreditosInfo {
  width: 55%;
  margin-left: 95px;
  z-index: 1;
  position: relative;
}

.form-signin,
.form-registro {
  max-width: 280px;
  padding: 20px;
  margin: 20px auto;
}

.form-signin .form-control,
.form-registro .form-control {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  background-color: #EAEBE5;
  color: #7e8c8d;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.form-control {
  height: 25px;
  font-family: "Lalezar-Regular";
}

.form-signin input[type="text"],
.form-registro input[type="text"],
.form-signin input[type="password"],
.form-registro input[type="password"],
.form-registro input[type="date"] {
  margin-bottom: -1px;
  border-radius: 10px;
}


.form-control.user,
.form-control.celular {
  margin-left: 10px;
  padding-left: 36px;
}

.form-group {
  margin-right: 10px;
}

.form-signin label,
.form-registro label {
  color: #8e3cbc;
  font-family: "Lalezar-Regular";
  font-size: 20px;
  margin-bottom: 2px;
}

.form-signin .imgIcon1 {
  width: 50px;
  height: 50px;
  position: absolute;
  margin-left: -116px;
  margin-top: -38px;
}

.form-signin .imgIcon2 {
  width: 50px;
  height: 50px;
  position: absolute;
  margin-left: -116px;
  margin-top: -38px;
}

.linkOlvidoClave {
  color: #8e3cbc;
  cursor: pointer;
}

.btn.btnEntrar {
  background-image: url(../assets/imagenes_nuevas/PNG/btn-entrar.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: unset;
  background-size: 100%;
  position: absolute;
  width: 165px;
  height: 60px;
  margin-top: 5px;
  margin-left: 40px;
}

.btn.btnRegistro {
  background-image: url(../assets/imagenes_nuevas/PNG/btn-registro.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: unset;
  background-size: 100%;
  position: absolute;
  width: 165px;
  height: 60px;
  margin-top: 60px;
  margin-left: 40px;
}

.btn.btnEntrar1,
.btn.btnRegistro1 {
  display: none;
}

.imgLogo {
  background-image: url(../assets/imagenes_nuevas/PNG/Logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: unset;
  background-size: 100%;
  margin-left: -79px;
  margin-top: -30px;
  width: 565px;
  height: 330px;
  z-index: -1;
}

.container .modal.fade.collapse.in .contentAviso,
.container .modal.fade.collapse .contentAviso,
.container .modal.fade.collapse.in .contentAvisoImg,
.container .modal.fade.collapse .contentAvisoImg {
  width: 520px;
}

.container .modal.fade.collapse.in .contentAvisoImg,
.container .modal.fade.collapse .contentAvisoImg {
  background-image: url(../assets/imagenes_nuevas/PNG/hoja_PopUp.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: unset;
  background-size: cover;
  font-family: "Lalezar-Regular";
}

.container .modal.fade.collapse.in,
.container .modal.fade.collapse,
.container .creditos.modal {
  background-color: rgb(152 151 151 / 48%);
}

.container .modal.fade.collapse.in .textAviso,
.container .modal.fade.collapse .textAviso {
  color: saddlebrown;
  margin-top: 105px;
  margin-left: 60px;
  text-align: center;
  width: 410px;
  padding: 0;
  font-size: 35px;
}

.container .modal.fade.collapse.in .btnsModal,
.container .modal.fade.collapse .btnsModal {
  margin-left: 90px;
  margin-top: 15px;
}

.btn.btn1 {
  background-image: url(../assets/imagenes_nuevas/PNG/btn_no.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: unset;
  background-size: 100%;
  width: 145px;
  height: 50px;
}

.btn.btn2 {
  background-image: url(../assets/imagenes_nuevas/PNG/btn_si.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: unset;
  background-size: 100%;
  position: absolute;
  width: 145px;
  height: 50px;
}

.container .modal.fade.collapse.in .btnsModal .btn2,
.container .modal.fade.collapse .btnsModal .btn2 {
  margin-left: 50px;
}

.container .btn_info {
  background-image: url(../assets/imagenes_nuevas/PNG/btn_info.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: unset;
  background-size: 100%;
  position: fixed;
  width: 45px;
  height: 70px;
  bottom: 0;
  right: 15px;
}

.container .creditos.modal .content_creditosInfo .btnCerrarInfo {
  background-image: url(../assets/imagenes_nuevas/PNG/btn_cerrar.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: unset;
  background-size: 100%;
  position: fixed;
  width: 70px;
  height: 45px;
  margin-left: 295px;
}


.container .content_creditosInfo {
  margin-left: -10px;
}

.container .content_creditosInfo .infoProyecto {
  font-family: "Lalezar-Regular";
  text-align: center;
  font-size: 18px;
  margin-top: 50px;
}

.container .content_creditosInfo .infoProyecto .cargoProyecto {
  color: saddlebrown;
}

.container .content_creditosInfo .infoProyecto .bloque {
  margin-bottom: 10px;
}

@media screen and (max-width: 480px) {

  html,
  body {
    overflow: hidden;
  }

  body {
    background-image: url(../assets/imagenes_nuevas/PNG/fondo1.png);
    min-height: 86vh;
  }

  .container {
    width: 320px;
    height: 380px;
    margin-top: 6%;
  }

  .imgLogin,
  .container .creditos.modal .imgCreditosInfo {
    margin-left: 80px;
  }

  .form-signin,
  .form-registro {
    max-width: 280px;
    padding: 20px;
    margin: 40px auto;
  }

  .form-group {
    margin-right: 20px;
    margin-left: 10px;
  }

  .form-signin .imgIcon1 {
    width: 45px;
    height: 45px;
    margin-left: -103px;
  }

  .form-signin .imgIcon2 {
    width: 45px;
    height: 45px;
    margin-left: -103px;
  }

  .imgLogo {
    width: 500px;
    height: 180px;
    margin-left: -92px;
    margin-top: -52px;
  }

  .formContainer {
    margin-top: -58px;
  }

  .btn.btnEntrar,
  .btn.btnRegistro {
    display: none;
  }

  .btn.btnEntrar1 {
    display: block;
    background-image: url(../assets/imagenes_nuevas/PNG/btn-entrar1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: unset;
    background-size: 100%;
    position: relative;
    width: 235px;
    height: 70px;
    margin-left: auto;
  }

  .btn.btnRegistro1 {
    display: block;
    background-image: url(../assets/imagenes_nuevas/PNG/btn-registro1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: unset;
    background-size: 100%;
    position: relative;
    width: 235px;
    height: 70px;
    margin-left: auto;
  }

  .container .contentBotones {
    margin-left: -25px;
  }

  .container .modal.fade.collapse.in .contentAviso,
  .container .modal.fade.collapse .contentAviso,
  .container .modal.fade.collapse.in .contentAvisoImg,
  .container .modal.fade.collapse .contentAvisoImg {
    width: 400px;
    height: 260px;
    margin-left: -10px;
    margin-top: 20%;
  }

  .container .modal.fade.collapse.in .textAviso,
  .container .modal.fade.collapse .textAviso {
    margin-top: 70px;
    margin-left: -5px;
    font-size: 25px;
  }

  .container .modal.fade.collapse.in .btnsModal,
  .container .modal.fade.collapse .btnsModal {
    margin-top: 0px;
    margin-left: 72px;
  }


  .btn.btn1 {
    width: 120px;
    height: 50px;
  }

  .btn.btn2 {
    width: 120px;
    height: 45px;
  }

  .container .modal.fade.collapse.in .btnsModal .btn2,
  .container .modal.fade.collapse .btnsModal .btn2 {
    margin-left: 25px;
  }

  .container .btn_info {
    bottom: 170px;
    left: 180px;
  }

  .container .creditos.modal .content_creditosInfo .btnCerrarInfo {
    margin-left: 240px;
    margin-top: 35px;
  }

  .container .content_creditosInfo .infoProyecto {
    margin-top: 60px;
  }

  .container .content_creditosInfo .infoProyecto .bloque {
    margin-bottom: 6px;
  }

}