.formContainer {
    margin-top: -25px;
}

.form-registro{
    margin-left: 30px;
}

.form-group {
    margin-bottom: 5px;
}

.form-registro label {
    color: #984ba6 !important;
    font-size: 18px;
    margin-bottom: -2px;
}

.form-registro .label_ {
    margin-left: 30px;
}

.form-registro input[type="text"] {
    margin-bottom: -5px;
}

.form-registro input[type="radio"] {
    cursor: pointer;
    z-index: 2;
}


.form-registro .form-group .content_label {
    padding: 0;
    position: relative;
    left: -25px;
    top: 4px;
    z-index: 1;
}

.btn.btnRegistro {
    margin-top: -9px;
}

.imgLogo {
    margin-left: -70px;
    margin-top: -135px;
}

.form-registro .nameUserGroup,
.form-registro .name1UserGroup,
.form-registro .emailUserGroup,
.form-registro .passNewGroup,
.form-registro .passConfirmarGroup,
.form-registro .infoCiudadGroup,
.form-registro .infoFechaGroup{
    margin-right: -25px;
}

.form-registro .generoUserGroup{
    position: relative;
    top: -5px;
}

.btn.btnRegistrarme {
    background-image: url(../assets/imagenes_nuevas/PNG/Button-registrarme.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: unset;
    background-size: contain;
    position: absolute;
    width: 35vh;
    height: 7vh;
    margin-left: 14px;
    margin-top: -15px;
}

.form-registro .form-control.fecha{
    font-size: 10px;
}

.imgLogoR {
    background-image: url(../assets/imagenes_nuevas/PNG/Logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: unset;
    background-size: 160%;
    margin-left: 25px;
    margin-top: -118px;
    width: 50vh;
    height: 50vh;
    z-index: -1;
}

@media screen and (max-width: 480px) and (max-height: 900px) {
    .container {
        height: 395px;
    }

    .form-registro {
        margin: 45px auto;
        margin-left: -15px;
    }

    .form-registro label {
        font-size: 15px;
    }

    .btn.btnRegistrarme {
        background-size: 50%;
        width: 27vh;
        margin-left: 20px;
        margin-top: -27px;

    }

    .form-registro input[type="text"] {
        margin-bottom: -1px;
        border-radius: 10px;
        margin-left: 15px;
        width: 91%;
    }

    .form-registro input[type="password"] {
        margin-bottom: -1px;
        border-radius: 10px;
        margin-left: 15px;
        width: 91%;
    }

    .form-registro input[type="radio"] {
        position: relative;
        top: -2px;
        left: -5px;
        width: 15px;
    }

    .form-registro .form-control {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        position: relative;
        background-color: #EAEBE5;
        color: #7e8c8d;
        outline: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .container .contentInfo .content_infoFecha .form-control {       
        width: 90% !important;
    } 

    .form-registro .emailUserGroup .emailUser{
        width: 90% !important;
    }

    .form-registro .bloque .name1UserGroup,
    .form-registro .bloque .passConfirmarGroup {
        position: relative;
        left: 3px;
    }

    .form-registro .bloque .label_ {
        position: relative;
        left: 15px;
    }

    .form-registro .bloque{
        position: relative;
        left: -20px;
    }

    .form-registro .form-control.fecha{
        font-size: 10px;
    }

    .imgLogoR {
        background-size: 145%;
        margin-left: -30px;
        width: 45vh;
        height: 31vh;
    }

}