@font-face {
    font-family: "Tondu_Beta";
    font-style: normal;
    font-weight: normal;
    src: url(../assets/font/Tondu_Beta.ttf);
}

@font-face {
    font-family: "Lalezar-Regular";
    font-style: normal;
    font-weight: normal;
    src: url(../assets/font/Lalezar-Regular.ttf);
}

.bodyTablero {
    background-color: #415167;
    overflow-x: hidden;
    overflow-y: auto;
    background-image: url(../assets/Tablero-tajado/arbol.jpg);
    background-repeat: repeat-y;
    background-position-x: right;
    background-size: 9.6%;
}

.bodyTablero .containerTablero {
    margin: 0;
    padding: 0;
    padding-left: 15px;
    height: 100vh;
    float: left;
}


.content_img1,
.content_img2,
.content_img3,
.content_img1 .img1,
.content_img1 .img2,
.content_img1 .img3,
.content_img1 .imgStreet,
.content_img1 .img1 img,
.content_img1 .img2 img,
.content_img1 .img3 img,
.content_img1 .imgStreet img,
.content_img2 .img1,
.content_img2 .img2,
.content_img2 .img3,
.content_img2 .imgStreet,
.content_img2 .imgStreet img,
.content_img3 .img1,
.content_img3 .img2,
.content_img3 .img3,
.content_img3 .imgStreet,
.content_img3 .imgStreet img,
.content_imgStreetH,
.content_imgStreetH img,
.content_imgStreetH1,
.content_imgStreetH1 img,
.content_imgStreetH2,
.content_imgStreetH2 img,
.content_imgStreetH3,
.content_imgStreetH3 img,
.content_imgStreetH4,
.content_imgStreetH4 img {
    padding: 0;
}

.content_img1 .img1,
.content_img2 .img1,
.content_img3 .img1,
.content_imgStreetH4 {
    margin-left: -8px;
}

.content_img1 .img1 img,
.content_img1 .imgStreet img,
.content_img1 .img2 img,
.content_img1 .img3 img,
.content_img2 .img1 img,
.content_img2 .imgStreet img,
.content_img2 .img2 img,
.content_img2 .img3 img,
.content_img3 .img1 img,
.content_img3 .imgStreet img,
.content_img3 .img2 img,
.content_img3 .img3 img,
.content_imgStreetH img,
.content_imgStreetH1 img,
.content_imgStreetH2 img,
.content_imgStreetH3 img,
.content_imgStreetH4 img {
    width: 100%;
    height: 100%;
}

.content_img1 .img1 {
    width: 12vw;
    height: 26vh;
}

.content_img1 .imgStreet {
    width: 8vw;
    height: 18vh;
}

.content_img1 .img2 {
    width: 40vw;
    height: 16vh;
}

.content_img1 .img3 {
    margin-top: -2px;
    width: 32vw;
    height: 16vh;
}

.content_img2 .img1 {
    width: 12vw;
    height: 53vh;
    margin-top: -4vh;
}

.tablero2 .content_img2 .img1 {
    height: 65vh;
    margin-top: -16vh;
}

.content_img2 .imgStreet {
    width: 8vw;
    height: 51vh;
    margin-top: -1.2vh;
}

.content_img2 .img2 {
    width: 40vw;
    height: 49vh;
}

.content_img2 .img3 {
    width: 32vw;
    height: 49vh;
}

.content_img3 .img1 {
    width: 12vw;
    height: 58vh;
    margin-top: -20vh;
}

.content_img3 .imgStreet {
    width: 8vw;
    height: 35vh;
    margin-top: -1.2vh;
}

.content_img3 .img2 {
    width: 40vw;
    height: 16vh;
}

.content_img3 .img3 {
    width: 32vw;
    height: 16vh;
}

.content_img3 .img1 .calle {
    margin-top: 5vh;
    width: 12vw;
    height: 15vh;
}

.content_imgStreetH {
    width: 42vw;
    height: 13vh;
    margin-top: -10vh;
    margin-left: 18.5vw;
}

.content_imgStreetH1 {
    width: 33vw;
    height: 13vh;
    margin-top: -10vh;
    margin-left: 6vw;
}

.tablero2 .content_imgStreetH,
.tablero3 .content_imgStreetH {
    margin-top: -6vh;
}

.content_imgStreetH2 {
    width: 42vw;
    height: 15vh;
    margin-top: -3vh;
    margin-left: 18.5vw;
}

.tablero2 .content_imgStreetH1,
.tablero3 .content_imgStreetH1 {
    margin-top: -6vh;
}

.tablero2 .content_imgStreetH2,
.tablero2 .content_imgStreetH3{
    margin-top: -1vh;
}


.content_imgStreetH3 {
    width: 33vw;
    height: 15vh;
    margin-top: -3vh;
    margin-left: 6vw;
}

.tablero3 .content_img3 .img1 .opcion,
.tablero3 .content_img3 .img1 .opcion {
    height: 16vh;
}

.tableroLargo  .tablero3 .content_img3 .imgStreet {
    height: 16vh;
}

.tableroLargo .tablero3 .content_img3 .imgStreet.uno {
    margin-left: 21vh;
}


.tableroLargo .tablero3 .content_img3,
.tableroLargo .tablero3 .content_img3 .img1 {
    height: 0;
}

.tableroLargo .tablero3 .imgStreet .posicion3 {
    margin-top: -28vh;
}

.tableroLargo {
    position: relative;
    top: -22vh;
}

.imgStreet .posicion,
.imgStreet .posicion1,
.imgStreet .posicion2,
.imgStreet .posicion3,
.imgStreet .posicion4,
.imgStreet .posicion5,
.imgStreet .posicion6,
.imgStreet .posicion7,
.imgStreet .posicion8 {
    margin-left: 2vh;
    width: 10vh;
    height: 10vh;
}

.imgStreet .posicion1,
.imgStreet .posicion2,
.imgStreet .posicion3 {
    z-index: 1;
    position: relative;
    margin-top: -10vh;
}

.imgStreet .posicion5,
.imgStreet .posicion6,
.imgStreet .posicion7,
.imgStreet .posicion8 {
    z-index: 1;
    position: relative;
    margin-top: 5vh;
}

.imgStreet .posicion1 {
    margin-left: 13vw;
}

.imgStreet .posicion2 {
    margin-left: 25vw;
}

.imgStreet .posicion3 {
    margin-left: 38vw;
}

.imgStreet .posicion8 {
    margin-top: 11vh;
}

.imgStreet .btnUser {
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    position: relative;
    z-index: 1;
    top: -18vh;
    background-size: 100%;
    height: 12vh;
    width: 10vh;
    display: none;
}


.imgStreet .posicion .posicionGris,
.imgStreet .posicion1 .posicionGris,
.imgStreet .posicion2 .posicionGris,
.imgStreet .posicion3 .posicionGris,
.imgStreet .posicion4 .posicionGris,
.imgStreet .posicion5 .posicionGris,
.imgStreet .posicion6 .posicionGris,
.imgStreet .posicion7 .posicionGris,
.imgStreet .posicion8 .posicionGris {
    display: block;
}

.imgStreet .posicion .posicionVerde,
.imgStreet .posicion1 .posicionVerde, 
.imgStreet .posicion2 .posicionVerde,
.imgStreet .posicion3 .posicionVerde,
.imgStreet .posicion4 .posicionVerde,
.imgStreet .posicion5 .posicionVerde,
.imgStreet .posicion6 .posicionVerde,
.imgStreet .posicion7 .posicionVerde,
.imgStreet .posicion8 .posicionVerde {
    display: none;
}

.imgStreet .posicion .posicionAzul,
.imgStreet .posicion1 .posicionAzul, 
.imgStreet .posicion2 .posicionAzul,
.imgStreet .posicion3 .posicionAzul,
.imgStreet .posicion4 .posicionAzul,
.imgStreet .posicion5 .posicionAzul,
.imgStreet .posicion6 .posicionAzul,
.imgStreet .posicion7 .posicionAzul,
.imgStreet .posicion8 .posicionAzul {
    display: none;
}

.imgStreet .posicion1 .posicionRojo,
.imgStreet .posicion3 .posicionRojo {
    display: block;
}


.containerTablero .perfilDados {
    background-image: url(../assets/imagenes_nuevas/PNG/hoja_espacio_dados.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    position: fixed;
    z-index: 1;
    bottom: 0;
    width: 100%;
    height: 22vh;
}

.containerTablero .perfilDados .btn.btnUsuario {
    cursor: pointer;
    margin-left: 40%;
    margin-top: 4vh;
    height: 18vh;
    width: 8%;
    float: left;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
}

.containerTablero .perfilDados .btn.btnDados {
    background-image: url(../assets/dados/quietos_da2.png);
    cursor: pointer;
    margin-left: 52%;
    margin-top: 3vh;
    height: 18vh;
    width: 8%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    font-family: "Lalezar-Regular";
    font-size: 65px;
    color: #a31bef;
    display: none;
}

.containerTablero .perfilDados .modal.fade.collapse.in,
.containerTablero .perfilDados .modal.fade.collapse,
.containerTablero .preguntas.modal.fade.collapse.in,
.containerTablero .preguntas.modal.fade.collapse {
    background-color: rgb(152 151 151 / 48%);
}


.containerTablero .preguntas .container.boxPreguntas,
.containerTablero .preguntas .container.box_preguntas {
    width: 70vw;
    height: 70vh;
}

.containerTablero .preguntas .container.box_preguntas {
    /*background-image: url(../assets/imagenes_nuevas/PNG/tablero_solo.png);*/
    background-image: url(../assets/imagenes_nuevas/PNG/tablero_solo_ancho.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: unset;
    background-size: cover;
    margin: auto;
    margin-top: 3vh;
    font-family: "Lalezar-Regular";
    width: 70vw;
    height: 70vh;
}


.containerTablero .preguntas.modal.fade.collapse.in .tituloPregunta {
    margin: auto;
    margin-top: 9vh;
    margin-bottom: -20px;
    width: 45%;
    text-align: center;
    font-size: 5vh;
    color: #a31bef;
}

.containerTablero .preguntas.modal.fade.collapse.in .textoPregunta {
    margin: auto;
    margin-top: 15px;
    margin-bottom: 10px;
    width: 75%;
    text-align: center;
    font-size: 2.5vh;
    color: saddlebrown;
}

.containerTablero .preguntas.modal.fade.collapse.in .textoArea {
    margin: auto;
    margin-left: 10%;
    width: 80%;
    padding: 5px;
    font-size: 15px;
    color: saddlebrown;
    background-color: #ffe7cd;
}

.containerTablero .preguntas.modal.fade.collapse.in .btn.btn-block {
    background-image: url(../assets/imagenes_nuevas/PNG/Button-Play.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: unset;
    background-size: 100%;
    width: 20vh;
    height: 8vh;
    margin: auto;
    margin-top: 10px;
}

.containerTablero .preguntas.modal.fade.collapse.in .textoRespuesta .boxRadio {
    margin: auto;
    width: 75%;
    color: saddlebrown;
    font-size: 1.8vh;
}

.containerTablero .preguntas.modal.fade.collapse.in .textoRespuesta .boxRadio .radio2 {
    margin-left: 20%;
    margin-right: 20%;
}

.containerTablero .preguntas.modal.fade.collapse.in .textoRespuesta .boxRadio .etiqueta {
    margin-top: -5px;
}

.containerTablero .perfilDados .btn.btnUsuario.avatarPrincipal {
    background-image: url(../assets/imagenes_nuevas/PNG/avatar_principal.png);
}

.containerTablero .perfilDados .btn.btnUsuario.avatar1 {
    background-image: url(../assets/imagenes_nuevas/PNG/avatar_01.png);
}

.containerTablero .perfilDados .btn.btnUsuario.avatar2 {
    background-image: url(../assets/imagenes_nuevas/PNG/avatar_02.png);
}

.containerTablero .perfilDados .btn.btnUsuario.avatar3 {
    background-image: url(../assets/imagenes_nuevas/PNG/avatar_03.png);
}

.containerTablero .perfilDados .btn.btnUsuario.avatar4 {
    background-image: url(../assets/imagenes_nuevas/PNG/avatar_04.png);
}

.containerTablero .perfilDados .btn.btnUsuario.avatar5 {
    background-image: url(../assets/imagenes_nuevas/PNG/avatar_05.png);
}

.containerTablero .perfilDados .btn.btnUsuario.avatar6 {
    background-image: url(../assets/imagenes_nuevas/PNG/avatar_06.png);
}

@media screen and (max-width: 480px) {

    html {
        overflow-x: hidden;
    }

    .bodyTablero {
        background-image: none;
    }
    
    .content_img1 .img1 {
        width: 61px;
        height: 68px;
    }

    .content_img1 .imgStreet {
        width: 43px;
        height: 46.5px;
    }

    .content_img1 .img2 {
        width: 140px;
        height: 42px;
    }

    .content_img1 .img3 {
        width: 140px;
        height: 43px;
    }

    .content_img2 .img1 {
        width: 61px;
        height: 160px;
        margin-top: -19px;    
    }

    .tablero2 .content_img2 .img1 {
        height: 160px;
        margin-top: -17px;
    }

    .tablero3 .content_img2 .img1 {
        margin-top: 49px;
    }

    .content_img2 .imgStreet {
        width: 44px;
        height: 155px;
        margin-top: -3.6px;
    }

    .content_img2 .img2 {
        width: 138px;
        height: 147px;
    }

    .content_img2 .img3 {
        width: 138px;
        height: 147px;
    }

    .content_img3 .img1 {
        width: 61px;
        height: 180px;
        margin-top: -76px;
    }

    .content_img3 .imgStreet {
        width: 44px;
        height: 73px;
        margin-top: -3px;
    }

    .content_img3 .img2 {
        width: 138px;
        height: 33px;
    }

    .content_img3 .img3 {
        width: 138px;
        height: 32px;
    }

    .content_img3 .img1 .calle {
        margin-top: 32px;
        width: 66px;
        height: 44px;
    }

    .tablero3 .content_img3 .img1 .calle {
        margin-top: 15px;
    }

    .tablero3 .content_img3 .imgStreet {
        height: 50px;
        margin-top: -20px;
    }

    .tablero3 .content_img3 .img2,
    .tablero3 .content_img3 .img3 {
        margin-top: -21px;
        height: 49px;
    }

    .tablero3 .content_img3 .imgStreet.uno {
        margin-left: 53px;
        margin-top: -20px;
    }

    .content_imgStreetH,
    .content_imgStreetH2 {
        width: 148px;
        height: 42px;
        margin-top: -25px;
        margin-left: 93px;
    }

    .content_imgStreetH1,
    .content_imgStreetH3 {
        width: 140px;
        height: 45px;
        margin-top: -27px;
        margin-left: 34.5px;
    }

    .tablero1 .content_imgStreetH3 {
        margin-top: -6px;
    }

    .tablero2 .content_imgStreetH3 {
        margin-top: -10px;
    }

    .tablero2 .content_imgStreetH,
    .tablero3 .content_imgStreetH {
        margin-top: -38px;  
    }

    .content_imgStreetH2 {
        margin-top: -3px;
    }

    .tablero2 .content_imgStreetH2 {
        margin-top: -6px;
    }


    .tablero3 .content_imgStreetH2 {
        margin-left: 93.2px;    
    }

    .tablero3 .content_imgStreetH3 {
        margin-left: 275.2px;
    }
    
        
    .tableroNormal .tablero3 .content_img3 .img1 .opcion,
    .tableroLargo .tablero3 .content_img3 .img1 .opcion {
        height: 46px;
    }

    .containerTablero .perfilDados {
        width: 195px;
        margin-left: 110px;
        position: fixed;
        bottom: -23%;
    }

    .containerTablero .perfilDados .btn.btnUsuario {
        margin-left: 55px;
        margin-top: 34px;
        width: 42px;
        height: 43px;
    }

    .containerTablero .perfilDados .btn.btnDados {
        margin-left: 5px;
        margin-top: 20px;
        width: 60px;
        height: 50px;
        font-size: 35px;
    }

    .imgStreet .posicion,
    .imgStreet .posicion1,
    .imgStreet .posicion2,
    .imgStreet .posicion3,
    .imgStreet .posicion4,
    .imgStreet .posicion5,
    .imgStreet .posicion6,
    .imgStreet .posicion7,
    .imgStreet .posicion8 {
        margin-left: 6px;
        margin-top: 4px;
        width: 30px;
        height: 30px;
    }

    .imgStreet .posicion1,
    .imgStreet .posicion2,
    .imgStreet .posicion3 {
        margin-top: -30px;
    }

    .imgStreet .posicion5,
    .imgStreet .posicion6,
    .imgStreet .posicion7,
    .imgStreet .posicion8 {
        margin-top: 17px;
    }

    .imgStreet .posicion1 {
        margin-left: 62px;
    }

    .imgStreet .posicion2 {
        margin-left: 100px;
    }

    .imgStreet .posicion3 {
        margin-left: 140px;
    }

    .imgStreet .posicion8 {
        margin-top: 19px;
    }

    .imgStreet .btnUser {
        top: -85px;
        left: 1px;
        width: 30px;
    }


    .tableroLargo  .tablero3 .content_img3 .imgStreet {
        height: 50px;
        margin-top: -24px;
    }
    
    .tableroLargo .tablero3 .content_img3 .imgStreet.uno {
        margin-left: 53px;
    }

    .tableroLargo .tablero3 .content_img3 .img2,
    .tableroLargo .tablero3 .content_img3 .img3 {
        height: 52px;
    }
    
    
    .tableroLargo .tablero3 .content_img3,
    .tableroLargo .tablero3 .content_img3 .img1 {
        height: 0;
    }
    
    .tableroLargo .tablero3 .imgStreet .posicion3 {
        margin-top: -80px;
    }
    
    .tableroLargo {
        position: relative;
        top: -76px;
    }

    .containerTablero .preguntas .container.boxPreguntas,
    .containerTablero .preguntas .container.box_preguntas {
        width: 360px !important;
        height: 610px !important;
        margin-top: 5% !important;
        margin-left: 0px;
        background-size: cover;
        
    }
    .containerTablero .preguntas .container.box_preguntas {background-image: url(../assets/imagenes_nuevas/PNG/tablero_solo_largo.png) }

    .containerTablero .preguntas.modal.fade.collapse.in .tituloPregunta {
        margin: auto;
        margin-bottom: -20px;
        font-size: 30px;
        margin-top: 75px;
    }

    .containerTablero .preguntas.modal.fade.collapse.in .textoPregunta {
        font-size: 15px;
        margin: auto;
        margin-top: 15px;
        width: 90%;
    }

    .containerTablero .preguntas.modal.fade.collapse.in .textoArea {
        margin-left: 17%;
        width: 65%;
        font-size: 10px;
    }

    .containerTablero .preguntas.modal.fade.collapse.in .btn.btn-block {
        width: 100px;
        height: 60px;
        margin: auto;
        margin-top: 15px;
    }


    

}