.tableroNormal .tablero3 .content_img3 .img1 .opcion {
    height: 108px;
}

.tableroNormal .tablero3 .imgStreet .posicion1.corto {
    margin-top: 2px;
}

.tableroNormal .tablero3 .content_img3 .imgStreet.uno {
    margin-left: 11vw;
    margin-top: -8px;
}

.tableroNormal  .tablero3 .content_img3 .imgStreet {
    height: 17.5vh;
    margin-top: -8px;
}

.tableroNormal .tablero3 .content_img3,
.tableroNormal .tablero3 .content_img3 .img1 {
    height: 0;
}

.tableroNormal .tablero3 .content_img3 .img2,
.tableroNormal .tablero3 .content_img3 .content_imgStreetH2 {
    position: relative;
    z-index: -1;
}

@media screen and (max-width: 480px) {

    .tableroNormal .tablero3 .content_img3 .img1 .opcion {
        height: 46px;
    }

    .tableroNormal .tablero3 .imgStreet .posicion1.corto {
        margin-top: 0px;
    }

    .tableroNormal .tablero3 .content_img3 .imgStreet.uno {
        margin-left: 9.5vw;
        margin-top: -24px;
    }
    
    .tableroNormal  .tablero3 .content_img3 .imgStreet {
        height: 6.5vh;
        margin-top: -24px;
    }

}