@font-face {
    font-family: "Tondu_Beta";
    font-style: normal;
    font-weight: normal;
    src: url(../assets/font/Tondu_Beta.ttf);
}

@font-face {
    font-family: "Lalezar-Regular";
    font-style: normal;
    font-weight: normal;
    src: url(../assets/font/Lalezar-Regular.ttf);
}

.bodyTablero {
    background-color: #415167;
    overflow-x: hidden;
    overflow-y: auto;
    background-image: url(../assets/Tablero-tajado/arbol.jpg);
    background-repeat: repeat-y;
    background-position-x: right;
    background-size: 9.6%;
}

.bodyTablero .containerTablero {
    margin: 0;
    padding: 0;
    padding-left: 15px;
    height: 100vh;
    float: left;
}

.row.tableroNormal,
.row.tableroLargo {
    margin-right: -130px;
}

.content_img1,
.content_img2,
.content_img3,
.content_img1 .img1,
.content_img1 .img2,
.content_img1 .img3,
.content_img1 .imgStreet,
.content_img1 .img1 img,
.content_img1 .img2 img,
.content_img1 .img3 img,
.content_img1 .imgStreet img,
.content_img2 .img1,
.content_img2 .img2,
.content_img2 .img3,
.content_img2 .imgStreet,
.content_img2 .imgStreet img,
.content_img3 .img1,
.content_img3 .img2,
.content_img3 .img3,
.content_img3 .imgStreet,
.content_img3 .imgStreet img,
.content_imgStreetH,
.content_imgStreetH img,
.content_imgStreetH1,
.content_imgStreetH1 img,
.content_imgStreetH2,
.content_imgStreetH2 img,
.content_imgStreetH3,
.content_imgStreetH3 img,
.content_imgStreetH4,
.content_imgStreetH4 img {
    padding: 0;
}

.content_img1 .img1,
.content_img2 .img1,
.content_img3 .img1,
.content_imgStreetH4 {
    margin-left: -8px;
}

.content_img1 .img1 img,
.content_img1 .imgStreet img,
.content_img1 .img2 img,
.content_img1 .img3 img,
.content_img2 .img1 img,
.content_img2 .imgStreet img,
.content_img2 .img2 img,
.content_img2 .img3 img,
.content_img3 .img1 img,
.content_img3 .imgStreet img,
.content_img3 .img2 img,
.content_img3 .img3 img,
.content_imgStreetH img,
.content_imgStreetH1 img,
.content_imgStreetH2 img,
.content_imgStreetH3 img,
.content_imgStreetH4 img {
    width: 100%;
    height: 100%;
}

.content_img1 .img1 {
    width: 22vh;
    height: 26vh;
}

.content_img1 .imgStreet {
    width: 14vh;
    height: 18vh;
}

.content_img1 .img2 {
    width: 80vh;
    height: 16vh;
}

.content_img1 .img3 {
    margin-top: -2px;
    width: 57vh;
    height: 16vh;
}

.content_img2 .img1 {
    width: 22vh;
    height: 58vh;
    margin-top: -6vh;
}

.tablero2 .content_img2 .img1 {
    height: 65vh;
    margin-top: -16vh;
}

.tablero3 .content_img2 .img1 {
    margin-top: 0vh;
}

.content_img2 .imgStreet {
    width: 14vh;
    height: 51vh;
    margin-top: -1.2vh;
}

.content_img2 .img2 {
    width: 80vh;
    height: 49vh;
}

.content_img2 .img3 {
    width: 57vh;
    height: 49vh;
}

.content_img3 .img1 {
    width: 22vh;
    height: 58vh;
    margin-top: -20vh;
}

.content_img3 .imgStreet {
    width: 14vh;
    height: 35vh;
    margin-top: -1.2vh;
}

.content_img3 .img2 {
    width: 80vh;
    height: 16vh;
}

.content_img3 .img3 {
    width: 57vh;
    height: 16vh;
}

.content_img3 .img1 .calle {
    margin-top: 7vh;
    width: 23.5vh;
    height: 13vh;
}

.content_imgStreetH {
    width: 83.5vh;
    height: 13vh;
    margin-top: -10vh;
    margin-left: 33.5vh;
}

.content_imgStreetH1 {
    width: 59vh;
    height: 13vh;
    margin-top: -13vh;
    margin-left: 127.2vh;
}

.tablero2 .content_imgStreetH,
.tablero3 .content_imgStreetH {
    margin-top: -6vh;
}

.content_imgStreetH2 {
    width: 83.5vh;
    height: 13vh;
    margin-top: -3vh;
    margin-left: 33.5vh;
}

.tablero2 .content_imgStreetH2 {
    margin-top: -1vh;
}

.tablero3 .content_imgStreetH2 {
    margin-top: -9vh;
}


.content_imgStreetH3 {
    width: 59vh;
    height: 13vh;
    margin-top: -13vh;
    margin-left: 127.2vh;
}

.tablero3 .content_img3 .img1 .opcion,
.tablero3 .content_img3 .img1 .opcion {
    height: 16vh;
}

.tableroLargo  .tablero3 .content_img3 .imgStreet {
    height: 18vh;
}

.tableroLargo .tablero3 .content_img3 .imgStreet.uno {
    margin-left: 21vh;
}


.tableroLargo .tablero3 .content_img3,
.tableroLargo .tablero3 .content_img3 .img1 {
    height: 0;
}

.tableroLargo .tablero3 .imgStreet .posicion3 {
    margin-top: -28vh;
}

.tableroLargo {
    position: relative;
    top: -22vh;
}

.imgStreet .posicion,
.imgStreet .posicion1,
.imgStreet .posicion2,
.imgStreet .posicion3,
.imgStreet .posicion4,
.imgStreet .posicion5,
.imgStreet .posicion6,
.imgStreet .posicion7,
.imgStreet .posicion8 {
    margin-left: 2vh;
    width: 10vh;
    height: 10vh;
}

.imgStreet .posicion1,
.imgStreet .posicion2,
.imgStreet .posicion3 {
    z-index: 1;
    position: relative;
    margin-top: -10vh;
}

.imgStreet .posicion5,
.imgStreet .posicion6,
.imgStreet .posicion7,
.imgStreet .posicion8 {
    z-index: 1;
    position: relative;
    margin-top: 5vh;
}

.imgStreet .posicion1 {
    margin-left: 28vh;
}

.imgStreet .posicion2 {
    margin-left: 50vh;
}

.imgStreet .posicion3 {
    margin-left: 72vh;
}

.imgStreet .posicion8 {
    margin-top: 11vh;
}

.imgStreet .btnUser {
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    position: relative;
    z-index: 3;
    top: -18vh;
    background-size: 100%;
    height: 12vh;
    width: 10vh;
    display: none;
}


.imgStreet .posicion .posicionGris,
.imgStreet .posicion1 .posicionGris,
.imgStreet .posicion2 .posicionGris,
.imgStreet .posicion3 .posicionGris,
.imgStreet .posicion4 .posicionGris,
.imgStreet .posicion5 .posicionGris,
.imgStreet .posicion6 .posicionGris,
.imgStreet .posicion7 .posicionGris,
.imgStreet .posicion8 .posicionGris {
    display: block;
}

.imgStreet .posicion .posicionVerde,
.imgStreet .posicion1 .posicionVerde, 
.imgStreet .posicion2 .posicionVerde,
.imgStreet .posicion3 .posicionVerde,
.imgStreet .posicion4 .posicionVerde,
.imgStreet .posicion5 .posicionVerde,
.imgStreet .posicion6 .posicionVerde,
.imgStreet .posicion7 .posicionVerde,
.imgStreet .posicion8 .posicionVerde {
    display: none;
}

.imgStreet .posicion .posicionAzul,
.imgStreet .posicion1 .posicionAzul, 
.imgStreet .posicion2 .posicionAzul,
.imgStreet .posicion3 .posicionAzul,
.imgStreet .posicion4 .posicionAzul,
.imgStreet .posicion5 .posicionAzul,
.imgStreet .posicion6 .posicionAzul,
.imgStreet .posicion7 .posicionAzul,
.imgStreet .posicion8 .posicionAzul {
    display: none;
}

.imgStreet .posicion1 .posicionRojo,
.imgStreet .posicion3 .posicionRojo {
    display: block;
}


.containerTablero .perfilDados {
    background-image: url(../assets/imagenes_nuevas/PNG/hoja_espacio_dados.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    position: fixed;
    z-index: 1;
    bottom: 0%;
    width: 86vh;
    height: 32vh;
    margin-left: 52vh;
}

.containerTablero .perfilDados .btn.btnUsuario {
    cursor: pointer;
    margin-left: 27vh;
    margin-top: 16vh;
    height: 15vh;
    width: 14vh;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
}

.containerTablero .perfilDados .btn.btnDados {
    background-image: url(../assets/imagenes_nuevas/PNG/dados_espacio_dados.png);
    cursor: pointer;
    margin-left: 5vh;
    margin-top: 16vh;
    height: 14vh;
    width: 20vh;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
}

.containerTablero .perfilDados .modal.fade.collapse.in,
.containerTablero .perfilDados .modal.fade.collapse {
    -webkit-box-shadow: 0px 0px 243px 39px rgb(0 0 0 / 75%);
    -moz-box-shadow: 0px 0px 243px 39px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 243px 39px rgb(0 0 0 / 75%);
}

.containerTablero .perfilDados .btn.btnUsuario.avatarPrincipal {
    background-image: url(../assets/imagenes_nuevas/PNG/avatar_principal.png);
}

.containerTablero .perfilDados .btn.btnUsuario.avatar1 {
    background-image: url(../assets/imagenes_nuevas/PNG/avatar_01.png);
}

.containerTablero .perfilDados .btn.btnUsuario.avatar2 {
    background-image: url(../assets/imagenes_nuevas/PNG/avatar_02.png);
}

.containerTablero .perfilDados .btn.btnUsuario.avatar3 {
    background-image: url(../assets/imagenes_nuevas/PNG/avatar_03.png);
}

.containerTablero .perfilDados .btn.btnUsuario.avatar4 {
    background-image: url(../assets/imagenes_nuevas/PNG/avatar_04.png);
}

.containerTablero .perfilDados .btn.btnUsuario.avatar5 {
    background-image: url(../assets/imagenes_nuevas/PNG/avatar_05.png);
}

.containerTablero .perfilDados .btn.btnUsuario.avatar6 {
    background-image: url(../assets/imagenes_nuevas/PNG/avatar_06.png);
}

@media screen and (max-width: 480px) {

    html {
        overflow-x: hidden;
    }

    .bodyTablero {
        background-image: none;
    }
    
    .content_img1 .img1 {
        width: 7vh;
        height: 8vh;
    }
    
    .content_img1 .imgStreet {
        width: 5vh;
        height: 5.5vh;
    }
    
    .content_img1 .img2 {
        width: 16vh;
        height: 5vh;
    }
    
    .content_img1 .img3 {
        width: 13vh;
        height: 5vh;
    }
    
    .content_img2 .img1 {
        width: 7vh;
        height: 18.7vh;
        margin-top: -2vh;
    }
    
    .tablero2 .content_img2 .img1 {
        height: 18.8vh;
        margin-top: -1vh;
    }
    
    .tablero3 .content_img2 .img1 {
        margin-top: 5vh;
    }
    
    .content_img2 .imgStreet {
        width: 5vh;
        height: 18vh;
        margin-top: -0.6vh;
    }
    
    .content_img2 .img2 {
        width: 16vh;
        height: 16.7vh;
    }
    
    .content_img2 .img3 {
        width: 16vh;
        height: 16.7vh;
    }
    
    .content_img3 .img1 {
        width: 7vh;
        height: 18vh;
        margin-top: -6vh;
    }
    
    .content_img3 .imgStreet {
        width: 5vh;
        height: 8vh;
        margin-top: -0.4vh;
    }
    
    .content_img3 .img2 {
        width: 16vh;
        height: 3.7vh;
    }
    
    .content_img3 .img3 {
        width: 16vh;
        height: 3.7vh;
    }
    
    .content_img3 .img1 .calle {
        margin-top: 1.2vh;
        width: 7.6vh;
        height: 5vh;
    }

    .tablero3 .content_img3 .img1 .calle {
        margin-top: -0.8vh;
    }
    
    .tablero3 .content_img3 .imgStreet {
        margin-top: -2.4vh;
    }

    .tablero3 .content_img3 .img2,
    .tablero3 .content_img3 .img3 {
        margin-top: -2.4vh;
    }
    
    .tablero3 .content_img3 .imgStreet.uno {
        margin-left: 6vh;
        margin-top: -2.4vh;
    }
    
    .content_imgStreetH,
    .content_imgStreetH2 {
        width: 17vh;
        height: 5vh;
        margin-top: -3vh;
        margin-left: 10.6vh;
    }
    
    .content_imgStreetH1,
    .content_imgStreetH3 {
        width: 14vh;
        height: 5vh;
        margin-top: -5.2vh;
        margin-left: 31.5vh;
    }
    
    .tablero2 .content_imgStreetH,
    .tablero3 .content_imgStreetH {
        margin-top: -4.5vh;
    }
    
    .content_imgStreetH2 {
        margin-top: -0.6vh;
    }

    .tablero2 .content_imgStreetH2 {
        margin-top: -1.1vh;
    }
    
    .tablero3 .content_imgStreetH2,
    .tablero3 .content_imgStreetH3 {
        margin-top: -7vh;
    }
    
        
    .tableroNormal .tablero3 .content_img3 .img1 .opcion,
    .tableroLargo .tablero3 .content_img3 .img1 .opcion {
        height: 5.5vh;
    }

    .containerTablero .perfilDados {
        width: 19vh;
        margin-left: 8vh;
        position: fixed;
        bottom: -24%;
    }
    
    .containerTablero .perfilDados .btn.btnUsuario {
        margin-left: 5vh;
        margin-top: -7.7vh;
        width: 4vh;
    }
    
    .containerTablero .perfilDados .btn.btnDados {
        margin-left: 1vh;
        margin-top: -8vh;
        width: 4vh;
    }

    .imgStreet .posicion,
    .imgStreet .posicion1,
    .imgStreet .posicion2,
    .imgStreet .posicion3,
    .imgStreet .posicion4,
    .imgStreet .posicion5,
    .imgStreet .posicion6,
    .imgStreet .posicion7,
    .imgStreet .posicion8 {
        margin-left: 1vh;
        margin-top: 0.6vh;
        width: 3vh;
        height: 3vh;
    }

    .imgStreet .posicion1,
    .imgStreet .posicion2,
    .imgStreet .posicion3 {
        margin-top: -3vh;
    }

    .imgStreet .posicion5,
    .imgStreet .posicion6,
    .imgStreet .posicion7,
    .imgStreet .posicion8 {
        margin-top: 2.5vh;
    }

    .imgStreet .posicion1 {
        margin-left: 7vh;
    }

    .imgStreet .posicion2 {
        margin-left: 11.5vh;
    }

    .imgStreet .posicion3 {
        margin-left: 16vh;
    }

    .imgStreet .posicion8 {
        margin-top: 2.5vh;
    }

    .imgStreet .btnUser {
        top: -9.7vh;
        width: 3vh;
    }


    .tableroLargo  .tablero3 .content_img3 .imgStreet {
        height: 5.5vh;
    }
    
    .tableroLargo .tablero3 .content_img3 .imgStreet.uno {
        margin-left: 6vh;
    }

    .tableroLargo .tablero3 .content_img3 .img2,
    .tableroLargo .tablero3 .content_img3 .img3 {
        height: 5.5vh;
    }
    
    
    .tableroLargo .tablero3 .content_img3,
    .tableroLargo .tablero3 .content_img3 .img1 {
        height: 0;
    }
    
    .tableroLargo .tablero3 .imgStreet .posicion3 {
        margin-top: -9vh;
    }
    
    .tableroLargo {
        position: relative;
        top: -10.7vh;
    }
    

}