@font-face {
    font-family: "Tondu_Beta";
    font-style: normal;
    font-weight: normal;
    src: url(../assets/font/Tondu_Beta.ttf);
}

@font-face {
    font-family: "Lalezar-Regular";
    font-style: normal;
    font-weight: normal;
    src: url(../assets/font/Lalezar-Regular.ttf);
}

.bodyTablero {
    background-color: #415167;
    overflow-x: hidden;
    overflow-y: auto;
}

.bodyTablero .container {
    margin: 0;
    padding: 0;
    padding-left: 15px;
}

.row {
    margin-right: -130px;
}

.content_img1,
.content_img2,
.content_img3,
.content_img1 .img1,
.content_img1 .img2,
.content_img1 .img3,
.content_img1 .imgStreet,
.content_img1 .img1 img,
.content_img1 .img2 img,
.content_img1 .img3 img,
.content_img1 .imgStreet img,
.content_img2 .img1,
.content_img2 .img2,
.content_img2 .img3,
.content_img2 .imgStreet,
.content_img2 .imgStreet img,
.content_img3 .img1,
.content_img3 .img2,
.content_img3 .img3,
.content_img3 .imgStreet,
.content_img3 .imgStreet img,
.content_imgStreetH,
.content_imgStreetH img,
.content_imgStreetH1,
.content_imgStreetH1 img,
.content_imgStreetH2,
.content_imgStreetH2 img,
.content_imgStreetH3,
.content_imgStreetH3 img,
.content_imgStreetH4,
.content_imgStreetH4 img {
    padding: 0;
}

.content_img1 .img1,
.content_img2 .img1,
.content_img3 .img1,
.content_imgStreetH4 {
    margin-left: -8px;
}

.content_img1 .img1 img,
.content_img1 .imgStreet img,
.content_img1 .img2 img,
.content_img1 .img3 img,
.content_img2 .img1 img,
.content_img2 .imgStreet img,
.content_img2 .img2 img,
.content_img2 .img3 img,
.content_img3 .img1 img,
.content_img3 .imgStreet img,
.content_img3 .img2 img,
.content_img3 .img3 img,
.content_imgStreetH img,
.content_imgStreetH1 img,
.content_imgStreetH2 img,
.content_imgStreetH3 img,
.content_imgStreetH4 img {
    width: 100%;
    height: 100%;
}

.content_img1 .img1 {
    width: 22vh;
    height: 26vh;
}

.content_img1 .imgStreet {
    width: 14vh;
    height: 18vh;
}

.content_img1 .img2 {
    width: 80vh;
    height: 16vh;
}

.content_img1 .img3 {
    margin-top: -2px;
    width: 57vh;
    height: 16vh;
}

.content_img2 .img1 {
    width: 22vh;
    height: 56vh;
    position: relative;
    top: -13vh;
}

.content_img2 .imgStreet {
    width: 14vh;
    height: 51vh;
    position: relative;
    top: -11.3vh;
}

.content_img2 .img2 {
    width: 80vh;
    height: 49vh;
    position: relative;
    top: -10vh;
}

.content_img2 .img3 {
    width: 57vh;
    height: 49vh;
    position: relative;
    top: -10.5vh;
}

.content_img3 .img1 {
    width: 22vh;
    height: 50vh;
    position: relative;
    top: -26vh;
}

.content_img3 .imgStreet {
    width: 14vh;
    height: 35vh;
    position: relative;
    top: -18.6vh;
}

.content_img3 .img2 {
    width: 80vh;
    height: 16vh;
    position: relative;
    top: -17.6vh;
}

.content_img3 .img3 {
    width: 57vh;
    height: 16vh;
    position: relative;
    top: -17.6vh;
}

.content_img3 .img1 .calle {
    margin-top: -5vh;
    width: 23.5vh;
    height: 13vh;
}

.content_imgStreetH {
    width: 83.5vh;
    height: 13vh;
    position: relative;
    top: -10vh;
    left: 33.5vh;
}

.content_imgStreetH1 {
    width: 59vh;
    height: 13vh;
    position: relative;
    top: -10vh;
    left: 43.6vh;
}

.content_imgStreetH2 {
    width: 83.5vh;
    height: 13vh;
    position: relative;
    top: -17.5vh;
    left: 33.5vh;
}

.content_imgStreetH3 {
    width: 59vh;
    height: 13vh;
    position: relative;
    top: -17.5vh;
    left: 43.6vh;
}

.tablero2 {
    position: relative;
    top: -26vh;
}

.tablero3 {
    position: relative;
    top: -52vh;
}

.tableroLargo {
    position: relative;
    top: -105vh;
}

.tableroLargo .tablero3 .content_img3 .img1,
.tableroLargo .tablero3 .content_img3 .imgStreet {
    height: 16vh;
}

.tableroLargo .tablero3 .content_img3 .imgStreet {
    top: -19.6vh;
    height: 18vh;
}

.tableroNormal .tablero3 .content_img3 .img1 .opcion {
    display: none;
    height: 16vh;
}
